@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Merienda&display=swap');

:root {
    --fonte01: 'Times New Roman', Times, serif;
    --fonte02: 'Gluten', cursive;
    --fonte03: 'Merienda', cursive;
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

body {
    min-height: 100vh;
    background-image: url('imagens/jesusglorificado.jpg');
    font-family: var(--fonte03);
    background-size: 50% 50%;
    
}
header {
    background-image: linear-gradient(to bottom, red,orange,yellow);
    color: white;
    text-align: center;
}
header > h1 {
    padding-top: 60px;
    padding-bottom: 60px;
    font-variant: small-caps;
    font-family: var(--fonte02);
    font-size: 3.5em;
}

header > p > audio {
    position: absolute;
    left: 1%;
    margin: -15px 2px;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 10vh;
    padding-right: 10vh;
    line-height: 2em;
    font-size: 1.8em;
    max-width: 1200px;
    min-width: 320px;
    text-align: justify;
    margin: auto;
}

section > p {
    padding-bottom: 2em;
}

.normal {
    background-color: white;
    color: darkblue;
}

.imagem {
    background-color: rgb(66, 59, 59);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba (0,0,0,0.473);
    background-size: cover;
    background-attachment: fixed;   
}

.imagem > p {
    background-color: rgba(0,0,0,0.5);
    padding: 5px;
    display: inline-block;
    text-shadow: 1px 1px 0px black;
}

#img01 {
    background-image: url('imagens/imagesJesus.jpg');
    background-position: center center;
}

#img02 {
    background-image: url('imagens/o\ cristo\ da\ gloria.jpg');
    background-position: center center;
}

footer {
    background-image: linear-gradient(to bottom, red,orange,yellow);
    color: aliceblue;
    text-align: center;
    padding: 10px;
}